@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
* {
	margin: 0;
	padding: 0;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%
}

.container.main {
	height: 500px;
}

.container.main h1 {
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	font-size: 48px;
}

.container.main img {
	margin-bottom: 20px;
	border-radius: 100%;
	border: solid 2px black;
}

.container.info > * {
	margin-bottom: 100px;
}

.black-box {
	display: block;
	color: black;
	padding: 30px;
	border-radius: 30px;
	border: solid 1px black;
	/* border-bottom: solid 2px black;
	border-right: solid 2px black; */
	box-shadow: 2px 2px 0px 0px black;
	transition:all 0.1s;
}

.black-box:hover {
	transform: translate(3px, 3xp);
	/* border-bottom: solid 5px black;
	border-right: solid 5px black; */
	box-shadow: 5px 5px 0px 0px black;
}

h2 {
	margin-bottom: 8px;
}

a {
	text-decoration: none;
	color: gray;
	margin-top: 5px;
}

strong {
	font-weight: 600;
}

.block {
	display: block;
}

#interested {
	font-weight: 600;
}

.projects {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
}

.projects > * {
	margin: 10px;
}

h3 {
	margin-bottom: 6px;
}

.contacts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
}

.contacts i {
	color: black;
}

.contacts > * {
	margin: 10px;
}
