html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #212121;
    background-color: #FAFAFA;
}

.main-container {
    padding: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-container h1 {
    font-size: 48px;
}

.main-container img {
    margin-right: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.description-container {
    padding: 200px;
}

.description-container > div {
    border-top: solid #212121 1px;
    margin-bottom: 50px;
    padding-left: 10px;
}

.description-container > div > p {
    margin-left: 30px;
}

.a {
    margin-top: 20px;
    margin-left: 30px;
}

.a a {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

.images img {
    max-width: 250px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 20px;
}